<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Add contact</title>

</head>

<body>

	<section>

		<div class="card mr-3">

			<div class="card-body mr-3">

				<!--error msg-->

				<div class="container text-center">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						<p th:text="${session.message.content}"></p>

						<p th:text="${@sessionHelper.removeMessageFromSession()}"></p>

					</div>
					<!--end error msg-->



					<h1 class="text-center text-info">Add Contact</h1>
					<div class="container-fluid mt-1">

						<div class="row">

							<div class="col-md-8 offset-md-2">

								<form novalidate action="#" enctype="multipart/form-data" method="POST"
									th:action="@{/user/process-contact}" class="mt-3" th:object="${contact}">

									<!--************first name********************-->
									<div class="input-group">

										<div class="input-group-prepend">

											<div class="input-group-text ">
												<i class=" fas fa-plus  "> </i>

											</div>
										</div>

										<input type="text" id="firstName" name="name" th:value="${contact.name}"
											th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
											placeholder="Enter First Name" class="form-control" />

									</div>
									<div th:if="${#fields.hasErrors('name')}" class="text-danger text-start mt-1">
										<div th:each="error : ${#fields.errors('name')}" th:text="${error}"></div>
									</div>

									<!--second name*******************-->
									<div class="input-group mt-3">

										<div class="input-group-prepend">

											<div class="input-group-text ">
												<i class=" fas fa-user  "> </i>

											</div>
										</div>

										<input type="text" id="secondName" name="secondName"
											th:value="${contact.secondName}"
											th:classappend="${#fields.hasErrors('secondName')} ? 'is-invalid' : ''"
											placeholder="Enter Nick Name" class="form-control" />


									</div>
									<div th:if="${#fields.hasErrors('secondName')}" class="text-danger text-start mt-1">
										<div th:each="error : ${#fields.errors('secondName')}" th:text="${error}">
										</div>
									</div>
									<!--work -->
									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-briefcase"></i>
											</div>
										</div>

										<input type="text" id="work" name="work" th:value="${contact.work}"
											th:classappend="${#fields.hasErrors('work')} ? 'is-invalid' : ''"
											placeholder="Enter Work" class="form-control" />
									</div>
									<div th:if="${#fields.hasErrors('work')}" class="text-danger text-start mt-1">
										<div th:each="error : ${#fields.errors('work')}" th:text="${error}"></div>
									</div>





									<!--email-->


									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-envelope"></i>
											</div>
										</div>
										<input type="email" id="email" name="email" th:value="${contact.email}"
											th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
											placeholder="Enter Email" class="form-control" />
									</div>

									<div th:if="${#fields.hasErrors('email')}" class="text-danger text-start mt-1">
										<div th:each="error : ${#fields.errors('email')}" th:text="${error}"></div>
									</div>


									<!--phone-->


									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-phone"></i>
											</div>
										</div>
										<input type="tel" id="phone" name="phone" th:value="${contact.phone}"
											th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''"
											placeholder="Enter Phone" class="form-control" />
									</div>
									<div th:if="${#fields.hasErrors('phone')}" class="text-danger  text-start mt-1 ">
										<div th:each="error : ${#fields.errors('phone')}" th:text="${error}"></div>
									</div>


									<!--Discription with tiny text editor-->

									<div class="form-group mt-3">
										<div class="input-group-text">
											<i class="fas fa-comment"></i>
										</div>

										<textarea name="description" id="mytextarea" th:value="${contact.description}"
											th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
											class="form-control" placeholder="Enter brif Description here!!"
											rows="6"></textarea>

									</div>
									<div th:if="${#fields.hasErrors('description')}"
										class="text-danger  text-start mt-1 ">
										<div th:each="error : ${#fields.errors('description')}" th:text="${error}">
										</div>
									</div>
									<!--contact img-->

									<div class="container text-start">
										<div class="custom-file mt-3">
											<input type="file" name="imageFile">
										</div>

									</div>


									<!--add contact button-->

									<div class="container text-center mt-3">

										<button class="btn btn-outline-primary">Save Contact</button>
									</div>
									<br>


								</form>

							</div>

						</div>

					</div>

				</div>

			</div>
			
			<!--used tiny text editor free tiny source "tiny mce"-->
			<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
			<script>
				tinymce.init({
					selector: '#mytextarea'
				});
			</script>
			
			
			</section>
			
			</body>
			
			</html>