body{
	
	background: #e2e2e2;
}

/*Registration card*/

.my-card{
	padding: 20px;
	background: #ffffff;
	
	
	
	
}

/* Define a custom CSS class to shift the <ul> to the right */
.ul-right {
    margin-left: auto;

}
.bg-primary{
 
	font-weight: bold;
	background: rgb(0, 200, 180) !important;
}

 .navbar.navbar-expand-lg.bg-body-tertiary {
           background: rgb(0, 200, 180) !important;

        }



/*home page*/
.banner{
	width: 100%;
	height: 95vh;

	background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../img/wallp.jpg);
	background-size: cover;
	color: white;
	
	
}

/*user dashboard*/

.banner-for-user-dashboard{
	width: 100%;
	height: 95vh;

	background: #e2e2e2;
	background-size: cover;
	 text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.7);
	
	
}
.gray-link {
/*  color:darkgray;*/
    text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.7);
    /* You can specify any shade of gray you prefer. For example: */
    /* color: #808080; */ /* This is a medium gray */
}



/* Define a CSS class for the links within the <ul> */
.ul-right .nav-linka {
	
    transition: color 0.3s; /* Smooth color transition */
    text-decoration-color: rgb(255, 255, 255);
}

/* Define a CSS rule for the anchor inside the <ul> when it's clicked */
.ul-right .nav-link:active {
    color: rgb(255, 0, 0); /* Change the anchor text color to red when it's clicked */
}
/* Define a CSS class for the button */
.button-with-color-change {
    background-color: #007bff; /* Teal background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s; /* Smooth color transition */
}

/* Define a CSS rule for the button text when it's clicked */
.button-with-color-change:active {
    color: #ff0000; /* Change the button text color to red when clicked */
}

/*login page css*/


#login .container #login-row #login-column #login-box {
 
  max-width: 600px;
  height: 480px;
  border: 1px solid #9C9C9C;
  background-color:white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.shadow{
	
	 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*nav bar*/

     @keyframes blink {
        0%, 100% { opacity: 1; color: rgb(128, 128, 128); }
        50% { opacity: 0; color: rgb(255, 255, 255); }
    }

    .blink {
        animation: blink 2s infinite;
    }
    
    /*smart animation*/
    
    .word {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: popUp 1.5s ease-in-out forwards;
  }
   
  .text-color-gray {
    color: gray;
   
  }
  .shadowd{
	
	 text-shadow: 0 4px 6px rgb(128, 128, 128);
	
}

  .word:nth-child(1) {
    animation-delay: 0.2s;
  }

  .word:nth-child(2) {
    animation-delay: 0.5s;
  }

  .word:nth-child(3) {
    animation-delay: 0.7s;
  }

  @keyframes popUp {
    to {
      opacity: 1;
      transform: translateY(0);
   
    }
  }
  /*Sidebar for max with less than 600px*/
  
  
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }

    .content {
	
        margin-left: 0% !important ;
    }
  }
/*side bar for max with more than 600px*/
  .sidebar{
	 
	  width: 18%;
	  background: white;
	  height: 100%;
	  position: fixed;
	  padding-top: 45px;
	  z-index: 999999999999999999999999999;	  
  }
  
  .sidebar a{
	  
	  display: block;
	  width: 100%;
	  padding: 10px 20px;
	  text-decoration: none;
	  color: dimgray;
  }
  
  
  .sidebar a:hover{
	  
	  background: #e2e2e2;
  }
  
  .sidebar .divider{
	  
	  height: .5px;
	  width: 100%;
	  background: #e2e2e2;
	  margin-top: 20%;
  }

 .sidebar .crossbtn{
	 
	 position: absolute;
	 top: 0;
	 right: 35px;
	 font-size: 30px;
	 cursor: pointer;	
}
  
  
  .content{
	  
	  margin-left: 20%;
  }
   
  
  
  
 /*file button*/
 
        .file-input {
            display: inline-block;
            padding: 10px 15px;
            background-color: #007bff; /* Blue background color */
            color: #fff; /* White text color */
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Hide the default file input element */
        .file-input input[type="file"] {
            display: none;
        }
/*     //show contact view img*/

.img_pic{
	
	width: 30px;
	height: 30px;
	object-fit: cover;
border-radius: 50%;
border: 1px solid wheat;


}   
       
       /*contact detail img css*/ 
       
       .contact_img_pic{
		   
		   width: 200px;
	height: 200px;
	object-fit: cover;
border-radius: 50%;
border: 1px solid wheat;

}


.update_contact_img_pic{
		   
		   width: 220px;
	height: 220px;
	object-fit: cover;
border-radius: 50%;
border: 1px solid wheat;

}





/*h1 h2 h3*/

 .sidebard a{
	  
	 
	  color: dimgray;
  }
  
  /*about page css*/

  .aboutb{
	  margin: 0px;
	  padding: 0px;
	  box-sizing: border-box;
	  font-family: Arial, Helvetica, sans-serif;
	  
  }
  
  .hero{
	  background-color: #e2e2e2;
	  overflow: hidden;
	 
  }
  
  .h1about{
	 
	  font-size: 45px;
	  text-align: center;
	  margin-top: 35px;
	  
  }
  
  .containerb{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 90%;
	  margin: 65px auto;
  }
  
  .hero-content{
	  
	  flex: 1;
	  width: 600px;
	  margin: 0px, 25px;
	  
  }
  .hero-content h2 h3{
	  
	  font-size: 38px;
	  margin-bottom: 20px;
	  color: #333;
  }
  .hero-content p{
	  font-size: 18px;
	  line-height: 1.5;
 	  margin-bottom: 40px;
 	  margin-right: 10px;
  }
  
  button:hover{
	  
	  background-color: rgb(0, 128, 192);
	  transform: scale(1.1);
	  
  }
  .about-img{
	  flex: 1;
	  width: 600px;
	  margin: auto;
	  
  }
  .img-about{
	  width: 100%;
	  height: auto;
	  border-radius: 10px;
	  
  }
  
  @media screen and (max-width: 768px){
	   .h1about{
		   font-size: 45px;
		   margin-top: 30px;
		   
	   }
	   
	   .hero{
		   
		   margin: 0px;
		   
	   }
	   .containerb{
		   
		   width: 100%;
		   flex-direction: column;
		   margin: 0px;
		   padding: 0px, 40px;
		   
	   }
	   .hero-content{
		   width: 100%;
		   margin: 35px, 0px;
		   
	   }
	   .hero-content h2{
		   
		   font-size: 30px;
		   
	   }
	   .hero-content p{
		   
		   font-size: 16px;
		   margin-bottom: 20px;
	   }
	   .about-img{
		   
		   width: 100%;
	   }
	  
	  @keyframes fadeInUp {
		   	0% {
	
		   		opacity: 0;
		   		transform: translateY(50px);
		   	}
	
		   	100% {
	
		   		opacity: 1;
		   		transform: translateY(0px);
		   	}
	
	
	
		   }
		   
		   
		   @keyframes fadeInRight {
		   	0% {
	
		   		opacity: 0;
		   		transform: translateY(-50px);
		   	}
	
		   	100% {
	
		   		opacity: 1;	
		   		transform: translateY(0px);
		   	}
	
	
	
		   } 


}
	
	
	
		   